body {
  @include body;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  @include header-typo;
  margin: 0;
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

a {
  text-decoration: none;
  transition: .2s all;
  color: $purple;

  &:hover {
    color: $pink;
  }
}

p {
  margin: 0
}
