// Colors
$pink: #FF5870;
$orange: #FF9828;
$yellow: #EEDA1B;
$green: #0CD283;
$sky: #2ABAFF;
$blue: #3467B0;
$purple: #6A76B9;

$mobile : 480px;

// Text
@mixin h1 {
  font-family: 'Boing', 'Ubuntu', sans-serif;
  font-size: 54px;
  line-height: 1;
  margin-bottom: 10px;
  letter-spacing: -.5px;

  @media (max-width: $mobile) {
    font-size: 32px;
    line-height: 1.2;
  }
}

@mixin h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

@mixin h3 {
  font-size: 24px;
  color: $blue;
}

@mixin body {
  font-weight: 300;
  font-size: 22px;
  line-height: 1.2;
  font-family: 'Crimson text', serif;
}

@mixin button {
  background: $sky;
  color: white;
  text-transform: uppercase;
  border-radius: 50px;
  padding: 12px 20px;
  letter-spacing: 0.8px;

  &:hover {
    background: $orange;
    color: white;
  }
}
